body{
  font: 15px/1.5 "Times New Roman", Times, serif;
  padding:0;
  margin:0;
  background-color:#d7eef4;
}

/*Hyperlink Colors: inherit parent properties, Black normally and green when clicked*/
a { color: inherit; }

a:hover {
  color: black;
}

a:active {
  color: rgb(0, 117, 128);
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.standard{
  padding:15px;
  background:#ffffff;
  color:#000000;
  margin-top:10px;
  margin-bottom:10px;
}

.center{
  margin-left: 37.5%;
  text-align:left;
  font-size: 150%;
  overflow:hidden;
}

/* Publications Section */
#book{
  min-height:0%;
  margin-left: 5%;
  text-align:left;
  color:#000000;
  font-size: 100%;
}
.book_title {
  font-size: 125%;
  font-weight:bold;
  color:#000000;
}
.book_citation {
  font-size: 100%;
  font-style: italic;
  color:#000000;
}
.book_authors {
  font-size: 125%;
  color:#000000;
}
.book_description {
  font-size: 100%;
  color:#000000;
}



/* Publications Section */
#publications{
  min-height:0%;
  margin-left: 5%;
  text-align:left;
  color:#000000;
  font-size: 100%;
}
.pub_title {
  font-size: 125%;
  color:#000000;
}
.pub_citation {
  font-size: 125%;
  font-style: italic;
  color:#000000;
}
.pub_authors {
  font-size: 125%;
  color:#000000;
}

/* Articles Section */
#articles{
  min-height:0%;
  margin-left: 5%;
  color:#000000;
  font-size: 150%;
}
.article_title {
  font-size: 125%;
  color:#000000;
}
.article_citation {
  font-size: 125%;
  font-style: italic;
  color:#000000;
}
.article_authors {
  font-size: 125%;
  color:#000000;
}



/* Landing Page Section: Showcase */
#showcase{
  min-height:0%;
  /*background:url('../img/showcase.jpg') no-repeat 0 -400px;*/
  text-align:center;
  color:#000000; /*Header Text Color*/
}
#showcase h1{
  margin-top:3%; /*Spacing between top of page and Name*/
/*  font-size:55px; */
  font-size:365%;
  margin-bottom:3%; /*Spacing between name and top of title image*/
}
#showcase p{
  font-size:20px;
}

/* Landing Page Section: Showcase */
#showcaseabout{
  min-height:0%;
  /*background:url('../img/showcase.jpg') no-repeat 0 -400px;*/
  text-align:center;
  color:#000000; /*Header Text Color*/
}
#showcaseabout h1{
  margin-top:3%; /*Spacing between top of page and Name*/
/*  font-size:55px; */
  font-size:365%;
  margin-bottom:0%; /*Spacing between name and top of title image*/
}
#showcaseabout p{
  font-size:20px;
}


/* Landing Page Section: Showcase */
#vis{
  min-height:0%;
  /*background:url('../img/showcase.jpg') no-repeat 0 -400px;*/
  text-align:center;
  color:#000000; /*Header Text Color*/
}
#vis h1{
  margin-top:1%; /*Spacing between top of page and Name*/
/*  font-size:55px; */
  font-size:100%;
  margin-bottom:4%; /*Spacing between name and top of title image*/
}
#vis p{
  font-size:20px;
}

/* Landing Page Section: Boxes */
#boxes1{
  margin-top:2%; /*Adjust margin above boxes*/
}
#boxes1 .box{
  float:left;
  text-align: center;
  width:15%;
  padding:2.5%; /*Adjust centering of boxes wrt center of page 1.56 for 3 boxes and 2.5 for 4 boxes*/
}
#boxes1 .box img{
  width:90px;
}

/* Landing Page Section: Boxes */
#boxes2{
  margin-top:2%; /*Adjust margin above boxes*/
}
#boxes2 .box{
  float:left;
  text-align: center;
  width:30%;
  padding:1.56%; /*Adjust centering of boxes wrt center of page 1.56 for 3 boxes and 2.5 for 4 boxes*/
}
#boxes2 .box img{
  width:90px;
}


/* Subpage: Boxes */
#boxes{
  margin-top:2%; /*Adjust margin above boxes*/
}
#boxes .box{
  float:left;
  text-align: center;
  width:20%;
  padding:2.5%; /*Adjust centering of boxes wrt center of page 1.56 for 3 boxes and 2.5 for 4 boxes*/
}
#boxes .box img{
  width:90px;
}

footer{
  padding:0.5%;
  margin-top:2%; /*Spacing between boxes and copyright*/
  color:#000000;
  background-color:#d7eef4;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }


}
