body { 
    background: linear-gradient(180deg, #d7eef4ff, #9fcee1ff); /* Add a linear gradient (180 deg.)... */
    background-attachment: fixed;                                  /* ...across the entire size of the viewport */
    font: 15px/1.5 "Times New Roman", Times, serif; padding:0; margin:0; }
.logo { 
    padding-top: 4vw; max-width: 35vw; } /* vw is view width */
.mission {
    padding-top: 2vw; padding-left: 20vw; max-width: 60vw; text-align: justify; text-justify: inter-word; }
.subsequent_items {
    padding-left: 20vw; max-width: 60vw; text-align: justify; text-justify: inter-word; }

.gradient_text { /* Add linear gradients into individual text elements */
    background-image: linear-gradient(90deg, #f67038ff, #df4bebff);
    -webkit-background-clip: text; background-clip: text; color: transparent; display: inline; }
a {
    color: inherit }/*Hyperlink Colors: inherit parent properties, Black normally and green when clicked*/
a:hover {
    background-image: linear-gradient(90deg, #f67038ff, #df4bebff); -webkit-background-clip: text; background-clip: text; color: transparent; display: inline; text-decoration: underline; }
a:active {
    background-image: linear-gradient(90deg, #f67038ff, #df4bebff); -webkit-background-clip: text; background-clip: text; color: transparent; display: inline; text-decoration: underline; }
#content{ 
    text-align:center; } /* Logo centering */
#content p{ 
    font-size: 1.2vw; } /* Using viewport width for proportional font size */
.copyright {
    padding-top: 2vw; font-size: 0.75vw; } /* Using viewport width for proportional font size */
footer{
    color:#000000; text-align: center; font-size: 1vw; } /* Using viewport width for proportional font size */
